/* .ng-invalid{
  border:1px solid red !important;
}
.ng-valid{
  border:1px solid green !important;
}
.ng-untouched{
  border:none !important;
} */
.container{
  font-family: 'Times New Roman', Times, serif;
  color: black !important;
  font-size: 15px !important;
}
input[type='text']{
  color: black !important;
  font-size: 15px !important;  
}