<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>First name</th>
        <th>Last Name</th>
        <th>Email Id</th>
        <th>Username</th>
        <th>Role</th>
        <th>Status</th>
        <!-- <th>Edit</th> -->
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let i of userdata  let j=index'>
        <td>{{j+1}}</td>
        <td>{{i.fname |  titlecase}}</td>
        <td>{{i.lname |  titlecase}}</td>
        <td>{{i.email |  titlecase}}</td>
        <td>{{i.username |  titlecase}}</td>
        <td>{{i.role |  titlecase}}</td>
        <td *ngIf='!i.status'><button class="btn btn-danger">Block</button></td>
        <td *ngIf='i.status'><button class="btn btn-success">Unblock</button></td>
        <!-- <td><button class="btn btn-success">Edit</button></td> -->
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
